
@import './variables.scss';



*{
    margin:0;
    padding:0;
}

body, html{
   
    overflow: scroll;

   

 
}






.App{
    overflow: scroll;

    height:100vh;
    width:100vw;
    // cursor:none;

    // &::-webkit-scrollbar {
    //     width: 1px;
    // }
    // &::-webkit-scrollbar-track {
    //     background-color: whitesmoke;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background-color: whitesmoke;

    // }
   
}


.cursor{
    height:20px;
    width: 20px;
    border-radius: 50%;
    border:2px solid black ;
    position: absolute;

   
}



//////////   
    
        








/////first-slide///////............................................


.text{

    @mixin animation($sec){
        animation: type 0.8s alternate forwards  $sec ;
    }
   
    color: white;
    @include special-font();
    @include font(400,3.2rem);
    padding: 7%;
    text-indent:1px;
    margin-top:20vh;
    text-align: center;
    animation: letter 0.8s linear forwards 2.5s, font 0.3s linear forwards 2.9s;
    background-color:white;
  


    .M{
        @include animation(0s);
        display: inline-block;

      
    }

    .y{
        @include animation(0.1s);
        display: inline-block;
    }

    .l{
        @include animation(0.2s);
        display: inline-block;
    }

    .i{
        @include animation(0.3s);
        display: inline-block;
    }
    .f{
        @include animation(0.4s);
        display: inline-block;
    }
    .e{
        @include animation(0.5s);
        display: inline-block;
    }
    .a{
        @include animation(0.6s); 
        display: inline-block;
    }
    .s{
        @include animation(0.7s); 
        display: inline-block;
    }
   
    .aa{
        @include animation(0.8s); 
        display: inline-block;
        
    }
    .C{
        @include animation(0.9s); 
        display: inline-block;
    }
    .o{
        @include animation(1s); 
        display: inline-block;
    }
    .d{
        @include animation(1.1s); 
        display: inline-block;
    }
    .ee{
        @include animation(1.2s); 
        display: inline-block;
    }
       
    .r{
        @include animation(1.3s); 
        display: inline-block;
      
    }

   
     
        
}
   
  





@keyframes type {
    0%{
     text-indent: 0px;
     color: white;
     padding:0.8%;
     border-radius: 2px;
  
    }
    100%{
        text-indent: 1px;
        color: rgb(170, 206, 98);
        background-color:rgb(18,18,18);
        margin-right:-2px;
        padding:0.8%;
        border-radius: 2px;
    }
      

}

///keyframes....
@keyframes letter{
   100%{
       font-size: 0.5rem;
      
   }
 
}
@keyframes font {
 100%{
     visibility: hidden;
     
    
    }
} 

     

///////INTRO.....................................

.intro{

      
  height: 120vh;
  width:100%;
  background-image: linear-gradient(210deg,rgb(129, 122, 122), transparent),url('https://images.pexels.com/photos/3831422/pexels-photo-3831422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: 100% 220%;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  background-attachment: scroll;
  animation:  appear 0.5s linear 1;
  overflow: scroll;
  scroll-behavior: smooth;
  position: relative;


 





   
    
 

   &-btn{
       background-color: transparent;
       animation: moveRight 15s linear forwards infinite 0.8s;
       position: absolute;
       right: 10%;
       top:5%;
       &:hover{
           background-color: rgb(93, 93, 93);
       }
   }

   &-leaf{
       position: absolute;
       left:40%;
       color: rgb(104, 156, 114);
       animation: leaf 12s linear infinite;
       
    }
   &-leaf1{
       position: absolute;
       left:20%;
       color: rgb(104, 156, 114);
       animation: leaf 10s linear infinite;
       
    }
   &-leaf2{
       position: absolute;
       right:20%;
       bottom:27%;
       color: rgb(104, 156, 114);
       animation: leaf2 8s linear infinite;
       
    }
    




   

    &-tag1{
        position:absolute;
        right:40%;
        top:15%;
        @include cursive();
        color: whitesmoke;
        background-color: transparent;
        @include font(400, 3rem);
        border-radius: 4px;
        padding: 0.5%;
        box-shadow:0px 0px  30px rgb(214, 214, 214);
        animation: swish 1s linear forwards 1;
        opacity:1;
        &:hover{
            color: grey;
            box-shadow:0px 0px  5px rgb(214, 214, 214);
        }
    
    }
    
    &-tag2{
        position: absolute;
        right:45%;
        top:30%;
        @include cursive();
        color: whitesmoke;
        background-color: transparent;
        @include font(400, 3rem);
        border-radius: 4px;
        padding: 0.5%;
        box-shadow:0px 0px  30px rgb(214, 214, 214);
        animation: swish 1s linear  forwards 1 1s;
        opacity:0;
        &:hover{
            color: grey;
            box-shadow:0px 0px  5px rgb(214, 214, 214);
        }
    }
    &-linkedin{
        position: fixed;
        z-index:1;
        right:0.58%;
        top:5%;
        @include sansserif-font();
        color: white;
        background-color: #0072b1;
        @include font(900, 2.4rem);
        border-radius: 4px;
        height: 45px;
        width:45px;
        padding: 0.1%;

    }






   

        
    
 






}

//////about ....................



.about{
    $color: rgb(50, 71, 54);

    position:relative;
    background-color:  white;
 
    
    &-svg1{
        position: absolute;
        top:-25vh;
        z-index:0;
        
       
     }


   
    
    &-{
    @include flex(row);
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    animation: transition1 2.5s ease-out  forwards 1;

    
    

        &-pic{
            height:300px;
            width:295px;
            border-radius: 50%;
            margin: 0px 4% 0px 5%;
            object-fit:cover;
            object-position: center;
            border-radius: 50%;
            border: 2px solid rgb(24, 24, 24);
            border-style: solid dashed solid;
         
           
            &::before{
                content:'thewh';
                display: block;
                border:2px solid rgb(24, 24, 24);
                height:400px;
                width:305px;
                background-color: red;
            }
    
           
    
      
        }

       
        &-headline{
        @include cursive();
        color: $color;
        @include font(400, 1.7rem);
        transition: transform 0.4s linear;
        border-radius: 23px;
        border:2px solid $color;
        padding: 0px 10px;
       

            &:hover{
                transform: scale(1.1,1.1) ;
                display: inline-block;
            }
        }
            
    }

    &-flexright{
        @include flex(row);
        justify-content: flex-end;
        align-items: center;  
        animation: transition1 2.5s ease-out forwards 1;
    }



.timeline{
 

    &-year{
        color: $color;
        @include font(700,1.5rem);
        // position: absolute;
    }

    &-thread{
        @include flex(row);
        margin-left:20px;
    &-vertical{
      @include flex(column);

        height: 18px;
        width:3px;
        background-color:black;
    }
   &-horizontal{
       height: 4px;
       width:100px;
       background-color: $color;
       display: inline-block;
       animation: timeline 1s linear 1 3s;
   }


    }








}



//////story.....

.story{

    background-color: blue;

    &-headline{
        color: white;
        @include cursive();
    }
}

















        
}

///keyframes.....



@keyframes scaleup {
    0%{
        transform: translateY(10px,10px);
    }
    100%{
        transform: translateY(0px,0px);
    }
    
}
    
@keyframes timeline {

    0%{
      width: 0px;  
    }
    50%{
    width:50px;
    }
    100%{
    width:100px;
    }
    
}
@keyframes leaf {
    0%{
       transform: rotateX(30deg) rotateZ(20deg) ;
       perspective: 20rem;
       bottom: 10%;
       
    }
    50%{
       transform: rotateX(100deg) rotateZ(20deg) ;
       perspective: 20rem;
       bottom: 50%;
       left:30%;
    }
    100%{
        transform: rotateX(270deg) rotateZ(20deg) ;
        perspective: 20rem;
        bottom: 100%;
        left:15%;
    }
    
}
@keyframes leaf2 {
    0%{
       transform: rotateZ(20deg) rotateX(30deg) ;
       perspective: 20rem;
       bottom: 25%;
       right:25%;
    }
    50%{
       transform: rotateZ(20deg) rotateX(80deg)  ;
       perspective: 20rem;
       bottom: 57%;
       right:21%;
    }
    100%{
        transform: rotateZ(20deg) rotateX(270deg) ;
        perspective: 20rem;
        bottom: 100%;
        right:15%;
    }
    
}

@keyframes swish {
   0%{
    opacity:0;
    }
    100%{
      opacity:1;
      transform: translateX(100px);
    }
    
}

@keyframes transition1{
    0%{
       opacity:0;
   
    }
 
    
    100%{
        opacity:1;
       
    }
    
}


@keyframes appear {
    0%{
    transform: translateY(100vh);
    opacity:0;
   }
   50%{
    background-color: whitesmoke;
   }

   100%{
   transform: translateY(0vh);
  }
       
}

   

  
   
   

@keyframes moveRight {
    0%{
     transform: rotateZ(0deg);

      
    }
    100%{
    transform: rotateZ(360deg);
   
    
    }
}

   

    
   
  
 
  

   


@keyframes sparkle{
  0%{
      opacity:1;

  }
  100%{
     
     opacity:0;
  }
 
}








  



