@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  overflow: scroll;
}

.App {
  overflow: scroll;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  z-index: 2;
}

.text {
  color: white;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  font-size: 3.2rem;
  padding: 7%;
  text-indent: 1px;
  margin-top: 20vh;
  text-align: center;
  -webkit-animation: letter 0.8s linear forwards 2.5s, font 0.3s linear forwards 2.9s;
          animation: letter 0.8s linear forwards 2.5s, font 0.3s linear forwards 2.9s;
  background-color: white;
}

.text .M {
  -webkit-animation: type 0.8s alternate forwards 0s;
          animation: type 0.8s alternate forwards 0s;
  display: inline-block;
}

.text .y {
  -webkit-animation: type 0.8s alternate forwards 0.1s;
          animation: type 0.8s alternate forwards 0.1s;
  display: inline-block;
}

.text .l {
  -webkit-animation: type 0.8s alternate forwards 0.2s;
          animation: type 0.8s alternate forwards 0.2s;
  display: inline-block;
}

.text .i {
  -webkit-animation: type 0.8s alternate forwards 0.3s;
          animation: type 0.8s alternate forwards 0.3s;
  display: inline-block;
}

.text .f {
  -webkit-animation: type 0.8s alternate forwards 0.4s;
          animation: type 0.8s alternate forwards 0.4s;
  display: inline-block;
}

.text .e {
  -webkit-animation: type 0.8s alternate forwards 0.5s;
          animation: type 0.8s alternate forwards 0.5s;
  display: inline-block;
}

.text .a {
  -webkit-animation: type 0.8s alternate forwards 0.6s;
          animation: type 0.8s alternate forwards 0.6s;
  display: inline-block;
}

.text .s {
  -webkit-animation: type 0.8s alternate forwards 0.7s;
          animation: type 0.8s alternate forwards 0.7s;
  display: inline-block;
}

.text .aa {
  -webkit-animation: type 0.8s alternate forwards 0.8s;
          animation: type 0.8s alternate forwards 0.8s;
  display: inline-block;
}

.text .C {
  -webkit-animation: type 0.8s alternate forwards 0.9s;
          animation: type 0.8s alternate forwards 0.9s;
  display: inline-block;
}

.text .o {
  -webkit-animation: type 0.8s alternate forwards 1s;
          animation: type 0.8s alternate forwards 1s;
  display: inline-block;
}

.text .d {
  -webkit-animation: type 0.8s alternate forwards 1.1s;
          animation: type 0.8s alternate forwards 1.1s;
  display: inline-block;
}

.text .ee {
  -webkit-animation: type 0.8s alternate forwards 1.2s;
          animation: type 0.8s alternate forwards 1.2s;
  display: inline-block;
}

.text .r {
  -webkit-animation: type 0.8s alternate forwards 1.3s;
          animation: type 0.8s alternate forwards 1.3s;
  display: inline-block;
}

@-webkit-keyframes type {
  0% {
    text-indent: 0px;
    color: white;
    padding: 0.8%;
    border-radius: 2px;
  }
  100% {
    text-indent: 1px;
    color: #aace62;
    background-color: #121212;
    margin-right: -2px;
    padding: 0.8%;
    border-radius: 2px;
  }
}

@keyframes type {
  0% {
    text-indent: 0px;
    color: white;
    padding: 0.8%;
    border-radius: 2px;
  }
  100% {
    text-indent: 1px;
    color: #aace62;
    background-color: #121212;
    margin-right: -2px;
    padding: 0.8%;
    border-radius: 2px;
  }
}

@-webkit-keyframes letter {
  100% {
    font-size: 0.5rem;
  }
}

@keyframes letter {
  100% {
    font-size: 0.5rem;
  }
}

@-webkit-keyframes font {
  100% {
    visibility: hidden;
  }
}

@keyframes font {
  100% {
    visibility: hidden;
  }
}

.intro {
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(200deg, #d1d3d4, transparent), url("../img/secondslide.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-animation: appear 0.8s linear 1;
          animation: appear 0.8s linear 1;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-attachment: fixed;
}

.intro-btn {
  background-color: transparent;
  -webkit-animation: moveRight 15s linear forwards infinite 0.8s;
          animation: moveRight 15s linear forwards infinite 0.8s;
  position: absolute;
  right: 10%;
  top: 5%;
}

.intro-btn:hover {
  background-color: #5d5d5d;
}

.intro-leaf {
  position: absolute;
  left: 40%;
  color: #7ead33;
  -webkit-animation: leaf 12s linear infinite;
          animation: leaf 12s linear infinite;
}

.intro-leaf1 {
  position: absolute;
  left: 20%;
  color: #7ead33;
  -webkit-animation: leaf 10s linear infinite;
          animation: leaf 10s linear infinite;
}

.intro-leaf2 {
  position: absolute;
  right: 20%;
  bottom: 27%;
  color: #7ead33;
  -webkit-animation: leaf2 10s linear infinite;
          animation: leaf2 10s linear infinite;
}

.intro-tag1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0 0 17vw;
  font-family: 'Montserrat', sans-serif;
  color: #485c11;
  background-color: transparent;
  font-weight: 900;
  font-size: 5.4rem;
  border-radius: 3px;
  -webkit-animation: swish 0.8s linear forwards 1;
          animation: swish 0.8s linear forwards 1;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.intro-tag1:hover {
  cursor: pointer;
  -webkit-text-stroke: 3px #485c11;
  color: transparent;
}

.intro-tag2 {
  position: absolute;
  left: 45%;
  top: 50%;
  color: whitesmoke;
  background-color: transparent;
  padding: 0px;
  -webkit-animation: swish 1s linear  forwards 1 1s, movedown 1s linear  forwards infinite;
          animation: swish 1s linear  forwards 1 1s, movedown 1s linear  forwards infinite;
  opacity: 0;
}

.intro-tag2::after {
  content: "scroll";
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 24px;
  bottom: 0px;
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movedown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.intro-linkedin {
  position: fixed;
  z-index: 1;
  right: 0.58%;
  top: 5%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #0072b1;
  font-weight: 900;
  font-size: 2.4rem;
  border-radius: 4px;
  height: 45px;
  width: 45px;
  padding: 0.1%;
}

.about {
  background-color: white;
  position: relative;
}

.about-svg {
  position: absolute;
  top: -26vh;
  z-index: 0;
}

.about-flower {
  position: absolute;
  z-index: 0;
  top: 80px;
  left: -33%;
  -webkit-transform: rotateZ(145deg);
          transform: rotateZ(145deg);
  opacity: 0.8;
  border-radius: 5%;
  border: 5px solid #aca106;
}

.about-first {
  padding-top: 50px;
  -webkit-animation: transition1 1s ease-out  forwards 1;
          animation: transition1 1s ease-out  forwards 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}

.about-first .about-first-pic1 {
  height: 400px;
  width: 400px;
  background-image: url("../img/mypic.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  -webkit-animation: textappear 1s linear 1;
          animation: textappear 1s linear 1;
  border-radius: 50%;
  -webkit-filter: contrast(90%) brightness(110%);
          filter: contrast(90%) brightness(110%);
  margin-right: 3%;
}

.about-first .about-first-para {
  font-family: 'Montserrat', sans-serif;
  color: #485c11;
  -webkit-animation: textappear 1s linear forwards 1;
          animation: textappear 1s linear forwards 1;
  -webkit-perspective: 20rem;
          perspective: 20rem;
  z-index: 0;
  -webkit-animation: appear 4s linear forwards infinite,transition1 1s linear forwards 1;
          animation: appear 4s linear forwards infinite,transition1 1s linear forwards 1;
  width: 30%;
}

.about-first .about-first-para-headline {
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: 20px;
}

.about-first .about-first-para-main {
  font-weight: 200;
  font-size: 1.3rem;
}

@-webkit-keyframes textappear {
  0% {
    -webkit-transform: translate3d(0px, 70px, 0px);
            transform: translate3d(0px, 70px, 0px);
    -webkit-perspective: 20rem;
            perspective: 20rem;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-perspective: 20rem;
            perspective: 20rem;
  }
}

@keyframes textappear {
  0% {
    -webkit-transform: translate3d(0px, 70px, 0px);
            transform: translate3d(0px, 70px, 0px);
    -webkit-perspective: 20rem;
            perspective: 20rem;
  }
  100% {
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
    -webkit-perspective: 20rem;
            perspective: 20rem;
  }
}

.about-flexright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
  -webkit-animation: transition1 2.5s ease-out forwards 1;
          animation: transition1 2.5s ease-out forwards 1;
  padding-bottom: 210px;
}

.about-flexright .about-flexright-headline {
  font-family: 'Montserrat', sans-serif;
  color: #485c11;
  font-weight: 800;
  font-size: 2rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  border-radius: 5px;
  border: 3px solid #485c11;
  padding: 4px 20px;
}

.about-flexright .about-flexright-pic {
  height: 350px;
  width: 320px;
  margin: 10% 4% 0px 6%;
  background-image: url("../img/hospital.jpeg");
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-animation: moveRight 1s linear forwards 1;
          animation: moveRight 1s linear forwards 1;
}

.story {
  background-color: white;
  position: relative;
}

.story-headline {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  padding: 10px 0px 10px 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: transition2 2.5s linear forwards 1;
          animation: transition2 2.5s linear forwards 1;
  width: 70%;
  line-height: 1rem;
  background-color: #485c11;
  -webkit-animation: transition1 1s linear 1;
          animation: transition1 1s linear 1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.story-para {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  padding: 10px 0px 0px 0px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: transition2 2.5s linear forwards 1;
          animation: transition2 2.5s linear forwards 1;
  width: 80%;
  background-color: #485c11;
  -webkit-animation: transition1 1s linear 1;
          animation: transition1 1s linear 1;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.story-lastline {
  font-family: 'Montserrat', sans-serif;
  color: #485c11;
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  padding: 10px 0px 12px 0px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: transition2 0.7s linear forwards 1;
          animation: transition2 0.7s linear forwards 1;
  line-height: 11px;
  width: 90%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-attachment: fixed;
}

.story-dots {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 1vw;
  z-index: 1;
}

.story-dots1 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 4vw;
  z-index: 1;
}

.story-dots2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 7vw;
}

.story-dots3 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 6%;
  left: 2.5vw;
}

.story-dots4 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 6%;
  left: 5.5vw;
}

.story-dots5 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 14%;
  left: 4vw;
}

.story-prism {
  -webkit-box-shadow: 1px -1px 5px 1px #485c11;
          box-shadow: 1px -1px 5px 1px #485c11;
  height: 500px;
  width: 500px;
  position: absolute;
  top: -10%;
  left: 40%;
  z-index: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-perspective: 20rem;
          perspective: 20rem;
}

.projects {
  background-image: url("https://images.pexels.com/photos/4350802/pexels-photo-4350802.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-size: 100% 100%;
}

.projects-headline {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Quicksand,'cursive';
  color: darkolivegreen;
  -webkit-animation: rise 2s linear  forwards infinite;
          animation: rise 2s linear  forwards infinite;
}

@-webkit-keyframes rise {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes rise {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes rotater {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotater {
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes scaleup {
  0% {
    -webkit-transform: translateY(10px, 10px);
            transform: translateY(10px, 10px);
  }
  100% {
    -webkit-transform: translateY(0px, 0px);
            transform: translateY(0px, 0px);
  }
}

@keyframes scaleup {
  0% {
    -webkit-transform: translateY(10px, 10px);
            transform: translateY(10px, 10px);
  }
  100% {
    -webkit-transform: translateY(0px, 0px);
            transform: translateY(0px, 0px);
  }
}

@-webkit-keyframes wide {
  0% {
    width: 0px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}

@keyframes wide {
  0% {
    width: 0px;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes leaf {
  0% {
    -webkit-transform: rotateX(30deg) rotateZ(20deg);
            transform: rotateX(30deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 10%;
  }
  50% {
    -webkit-transform: rotateX(100deg) rotateZ(20deg);
            transform: rotateX(100deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 50%;
    left: 30%;
  }
  100% {
    -webkit-transform: rotateX(270deg) rotateZ(20deg);
            transform: rotateX(270deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 100%;
    left: 15%;
  }
}

@keyframes leaf {
  0% {
    -webkit-transform: rotateX(30deg) rotateZ(20deg);
            transform: rotateX(30deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 10%;
  }
  50% {
    -webkit-transform: rotateX(100deg) rotateZ(20deg);
            transform: rotateX(100deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 50%;
    left: 30%;
  }
  100% {
    -webkit-transform: rotateX(270deg) rotateZ(20deg);
            transform: rotateX(270deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 100%;
    left: 15%;
  }
}

@-webkit-keyframes leaf2 {
  0% {
    -webkit-transform: rotateZ(20deg) rotateX(40deg);
            transform: rotateZ(20deg) rotateX(40deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 10%;
    right: 40%;
  }
  50% {
    -webkit-transform: rotateZ(20deg) rotateX(80deg);
            transform: rotateZ(20deg) rotateX(80deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 70%;
    right: 21%;
  }
  100% {
    -webkit-transform: rotateZ(20deg) rotateX(200deg);
            transform: rotateZ(20deg) rotateX(200deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 100%;
    right: 15%;
  }
}

@keyframes leaf2 {
  0% {
    -webkit-transform: rotateZ(20deg) rotateX(40deg);
            transform: rotateZ(20deg) rotateX(40deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 10%;
    right: 40%;
  }
  50% {
    -webkit-transform: rotateZ(20deg) rotateX(80deg);
            transform: rotateZ(20deg) rotateX(80deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 70%;
    right: 21%;
  }
  100% {
    -webkit-transform: rotateZ(20deg) rotateX(200deg);
            transform: rotateZ(20deg) rotateX(200deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    top: 100%;
    right: 15%;
  }
}

@-webkit-keyframes swish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes swish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes transition1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes transition1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-color: white;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    background-color: white;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: rotateZ(360deg) translateX(0px) translateY(-80px) scale(0.5, 0.5);
            transform: rotateZ(360deg) translateX(0px) translateY(-80px) scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: rotateZ(360deg) translateX(0px) translateY(-80px) scale(0.5, 0.5);
            transform: rotateZ(360deg) translateX(0px) translateY(-80px) scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=App.css.map */