@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  background-size: 100% 100%;
}

.App {
  height: 100vh;
  width: 100vw;
}

.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
}

.text {
  color: white;
  font-family: 'Special Elite', cursive;
  font-weight: 400;
  font-size: 3.2rem;
  padding: 7%;
  overflow-y: scroll;
  text-indent: 1px;
  margin-top: 20vh;
  text-align: center;
  -webkit-animation: letter 0.8s linear forwards 2.5s, font 0.3s linear forwards 2.9s;
          animation: letter 0.8s linear forwards 2.5s, font 0.3s linear forwards 2.9s;
  background-color: white;
  overflow-y: hidden !important;
}

.text .M {
  -webkit-animation: type 0.8s alternate forwards 0s;
          animation: type 0.8s alternate forwards 0s;
  display: inline-block;
}

.text .y {
  -webkit-animation: type 0.8s alternate forwards 0.1s;
          animation: type 0.8s alternate forwards 0.1s;
  display: inline-block;
}

.text .l {
  -webkit-animation: type 0.8s alternate forwards 0.2s;
          animation: type 0.8s alternate forwards 0.2s;
  display: inline-block;
}

.text .i {
  -webkit-animation: type 0.8s alternate forwards 0.3s;
          animation: type 0.8s alternate forwards 0.3s;
  display: inline-block;
}

.text .f {
  -webkit-animation: type 0.8s alternate forwards 0.4s;
          animation: type 0.8s alternate forwards 0.4s;
  display: inline-block;
}

.text .e {
  -webkit-animation: type 0.8s alternate forwards 0.5s;
          animation: type 0.8s alternate forwards 0.5s;
  display: inline-block;
}

.text .a {
  -webkit-animation: type 0.8s alternate forwards 0.6s;
          animation: type 0.8s alternate forwards 0.6s;
  display: inline-block;
}

.text .s {
  -webkit-animation: type 0.8s alternate forwards 0.7s;
          animation: type 0.8s alternate forwards 0.7s;
  display: inline-block;
}

.text .aa {
  -webkit-animation: type 0.8s alternate forwards 0.8s;
          animation: type 0.8s alternate forwards 0.8s;
  display: inline-block;
}

.text .C {
  -webkit-animation: type 0.8s alternate forwards 0.9s;
          animation: type 0.8s alternate forwards 0.9s;
  display: inline-block;
}

.text .o {
  -webkit-animation: type 0.8s alternate forwards 1s;
          animation: type 0.8s alternate forwards 1s;
  display: inline-block;
}

.text .d {
  -webkit-animation: type 0.8s alternate forwards 1.1s;
          animation: type 0.8s alternate forwards 1.1s;
  display: inline-block;
}

.text .ee {
  -webkit-animation: type 0.8s alternate forwards 1.2s;
          animation: type 0.8s alternate forwards 1.2s;
  display: inline-block;
}

.text .r {
  -webkit-animation: type 0.8s alternate forwards 1.3s;
          animation: type 0.8s alternate forwards 1.3s;
  display: inline-block;
}

@-webkit-keyframes type {
  0% {
    text-indent: 0px;
    color: white;
    padding: 0.8%;
    border-radius: 2px;
  }
  100% {
    text-indent: 1px;
    color: #aace62;
    background-color: #121212;
    margin-right: -2px;
    padding: 0.8%;
    border-radius: 2px;
  }
}

@keyframes type {
  0% {
    text-indent: 0px;
    color: white;
    padding: 0.8%;
    border-radius: 2px;
  }
  100% {
    text-indent: 1px;
    color: #aace62;
    background-color: #121212;
    margin-right: -2px;
    padding: 0.8%;
    border-radius: 2px;
  }
}

@-webkit-keyframes letter {
  100% {
    font-size: 0.5rem;
  }
}

@keyframes letter {
  100% {
    font-size: 0.5rem;
  }
}

@-webkit-keyframes font {
  100% {
    visibility: hidden;
  }
}

@keyframes font {
  100% {
    visibility: hidden;
  }
}

.intro {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(210deg, #817a7a, transparent), url("https://images.pexels.com/photos/3831422/pexels-photo-3831422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: 100% 220%;
  background-repeat: no-repeat;
  background-position: 0% 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-animation: appear 0.5s linear 1;
          animation: appear 0.5s linear 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.intro-headline {
  font-family: Quicksand,'cursive';
  color: yellowgreen;
  font-weight: 400;
  font-size: 5rem;
  text-shadow: -2px 2px 10px black;
  position: absolute;
  top: 20%;
  left: 7%;
  opacity: 0;
}

.intro-headline:hover {
  opacity: 1;
}

.intro .second {
  position: absolute;
  top: 20%;
  left: 7.08%;
  color: white;
  font-weight: 400;
  font-size: 5.02rem;
}

.intro-img {
  background-image: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 100%;
     object-position: 40% 100%;
  display: inline-block;
  position: absolute;
}

.intro-btn {
  background-color: transparent;
  -webkit-animation: moveRight 15s linear forwards infinite 0.8s;
          animation: moveRight 15s linear forwards infinite 0.8s;
  position: absolute;
  right: 10%;
  top: 5%;
}

.intro-btn:hover {
  background-color: #5d5d5d;
}

.intro-leaf {
  position: absolute;
  left: 40%;
  color: #689c72;
  -webkit-animation: leaf 12s linear infinite;
          animation: leaf 12s linear infinite;
}

.intro-leaf1 {
  position: absolute;
  left: 20%;
  color: #689c72;
  -webkit-animation: leaf 10s linear infinite;
          animation: leaf 10s linear infinite;
}

.intro-leaf2 {
  position: absolute;
  right: 20%;
  bottom: 27%;
  color: #689c72;
  -webkit-animation: leaf2 8s linear infinite;
          animation: leaf2 8s linear infinite;
}

.intro-tag1 {
  position: absolute;
  right: 40%;
  top: 15%;
  font-family: Quicksand,'cursive';
  color: whitesmoke;
  background-color: transparent;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 4px;
  padding: 0.5%;
  -webkit-box-shadow: 0px 0px 30px #d6d6d6;
          box-shadow: 0px 0px 30px #d6d6d6;
  -webkit-animation: swish 1s linear forwards 1;
          animation: swish 1s linear forwards 1;
  opacity: 1;
}

.intro-tag1:hover {
  color: grey;
  -webkit-box-shadow: 0px 0px 5px #d6d6d6;
          box-shadow: 0px 0px 5px #d6d6d6;
}

.intro-tag2 {
  position: absolute;
  right: 45%;
  top: 30%;
  font-family: Quicksand,'cursive';
  color: whitesmoke;
  background-color: transparent;
  font-weight: 400;
  font-size: 3rem;
  border-radius: 4px;
  padding: 0.5%;
  -webkit-box-shadow: 0px 0px 30px #d6d6d6;
          box-shadow: 0px 0px 30px #d6d6d6;
  -webkit-animation: swish 1s linear  forwards 1 1s;
          animation: swish 1s linear  forwards 1 1s;
  opacity: 0;
}

.intro-tag2:hover {
  color: grey;
  -webkit-box-shadow: 0px 0px 5px #d6d6d6;
          box-shadow: 0px 0px 5px #d6d6d6;
}

.intro-tag3 {
  position: absolute;
  right: 2%;
  bottom: 8%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #0072b1;
  font-weight: 900;
  font-size: 2.4rem;
  border-radius: 4px;
  height: 45px;
  width: 45px;
  padding: 0.1%;
}

@-webkit-keyframes leaf {
  0% {
    -webkit-transform: rotateX(30deg) rotateZ(20deg);
            transform: rotateX(30deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 10%;
  }
  50% {
    -webkit-transform: rotateX(100deg) rotateZ(20deg);
            transform: rotateX(100deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 50%;
    left: 30%;
  }
  100% {
    -webkit-transform: rotateX(270deg) rotateZ(20deg);
            transform: rotateX(270deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 100%;
    left: 15%;
  }
}

@keyframes leaf {
  0% {
    -webkit-transform: rotateX(30deg) rotateZ(20deg);
            transform: rotateX(30deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 10%;
  }
  50% {
    -webkit-transform: rotateX(100deg) rotateZ(20deg);
            transform: rotateX(100deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 50%;
    left: 30%;
  }
  100% {
    -webkit-transform: rotateX(270deg) rotateZ(20deg);
            transform: rotateX(270deg) rotateZ(20deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 100%;
    left: 15%;
  }
}

@-webkit-keyframes leaf2 {
  0% {
    -webkit-transform: rotateZ(20deg) rotateX(30deg);
            transform: rotateZ(20deg) rotateX(30deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 25%;
    right: 25%;
  }
  50% {
    -webkit-transform: rotateZ(20deg) rotateX(80deg);
            transform: rotateZ(20deg) rotateX(80deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 57%;
    right: 21%;
  }
  100% {
    -webkit-transform: rotateZ(20deg) rotateX(270deg);
            transform: rotateZ(20deg) rotateX(270deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 100%;
    right: 15%;
  }
}

@keyframes leaf2 {
  0% {
    -webkit-transform: rotateZ(20deg) rotateX(30deg);
            transform: rotateZ(20deg) rotateX(30deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 25%;
    right: 25%;
  }
  50% {
    -webkit-transform: rotateZ(20deg) rotateX(80deg);
            transform: rotateZ(20deg) rotateX(80deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 57%;
    right: 21%;
  }
  100% {
    -webkit-transform: rotateZ(20deg) rotateX(270deg);
            transform: rotateZ(20deg) rotateX(270deg);
    -webkit-perspective: 20rem;
            perspective: 20rem;
    bottom: 100%;
    right: 15%;
  }
}

@-webkit-keyframes swish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes swish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes ghost {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ghost {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  50% {
    background-color: whitesmoke;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  50% {
    background-color: whitesmoke;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes sparkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sparkle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=App.css.map */